<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Progress Bar</title>
    <link rel="stylesheet" href="./progressBar.css"/>
</head>
<body>

        <ul class="steps">
            <div class="progress-bar"></div>
            <li class="step active">1</li>
            <li class="step active">2</li>
            <li class="step">3</li>
            <li class="step">4</li>
        </ul>
</body>
</html>